{{ define "main" }}
<section class="list">
    <h2 class="feature__heading">
        <span class="feature__heading-title">{{ .Title }}</span>
        <span class="feature__heading-description">related posts</span>
    </h2>
    <nav class="list__articles">
        {{ range .Paginator.Pages -}}
        <article class="list__article">
            <h3 class="list__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <div class="list__meta">
                <time>{{ .Date.Format "January 2, 2006" }}</time>,
                {{ .ReadingTime }} minute{{ if gt .ReadingTime 1 }}s{{ end }} to read
            </div>
            <div class="list__summary text">{{ .Summary }}</div>
        </article>
        {{- end }}
    </nav>
    {{ if gt .Paginator.TotalPages 1 -}}
    <nav class="list__pager pager">
        {{- $currentPage := .Paginator.PageNumber -}}
        {{ range .Paginator.Pagers -}}
        <a class="pager__page{{ if eq .PageNumber $currentPage }} pager__page--current{{ end }}" href="{{ .URL }}">{{ .PageNumber }}</a>
        {{- end }}
        <p class="pager__description">pages with {{ .Paginator.TotalNumberOfElements }} posts</p>
    </nav>
    {{- end }}
</section>
{{ end }}
