{{ define "main" }}
<article class="article" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="article__header">
        {{ with .Params.categories }}
        <div class="article__categories">
            {{ range $category := . -}}
            {{ with $.Site.GetPage (printf "/categories/%s" $category | urlize) }}<a class="article__category" href="{{ .RelPermalink }}">{{ $category }}</a>{{ end }}
            {{- end }}
        </div>
        {{ end }}
        <h1 class="article__title" itemprop="name headline">{{ .Title }}</h1>
        <div class="article__meta">
            <time itemprop="datePublished">{{ .Date.Format "January 2, 2006" }}</time>,
            {{ .ReadingTime }} minute{{ if gt .ReadingTime 1 }}s{{ end }} to read
        </div>
    </header>
    {{ with .Params.warning }}<aside class="article__warning"><span class="article__warning-label">Caution</span>{{ . | markdownify }}</aside>{{ end }}
    <div class="article__content{{ if .Params.short}} article__content--plain{{ end }} text" itemprop="articleBody">
        {{ .Content }}
    </div>
    <footer class="article__footer">
        {{ if isset .Site.Data.authors .Params.author }}
        <div class="article__author">By <span class="p-author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ (index .Site.Data.authors .Params.author).name }}</span></span></div>
        <div class="article__bio text"><p>{{ (index .Site.Data.authors .Params.author).bio | markdownify }}</p></div>
        {{ end }}

        {{ if .Params.tags }}
        <nav class="article__topics topics">
            <div class="topics__heading">Topics</div>
            <ul class="topics__list">
                {{ range $term := sort .Params.tags -}}
                {{ with $.Site.GetPage (printf "/tags/%s" $term | urlize) }}<li class="topics__topic"><a href="{{ .RelPermalink }}" itemprop="keywords">{{ $term }}</a></li>{{ end }}
                {{- end }}
            </ul>
        </nav>
        {{ end }}

    </footer>
</article>
<div class="article-crosslinks">
    {{- $randomPosts := shuffle (where (where (where .Site.Pages "Type" "posts") "Kind" "page") "File.Filename" "ne" .File.Filename) | first 3 -}}
    <div class="article-crosslinks__heading">Read another post?</div>
    <nav class="article-crosslinks__articles">
        {{ range $randomPosts }}
        <article class="article-crosslinks__article">

                <div class="article-crosslinks__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            <div class="article-crosslinks__meta">
                <time>{{ .Date.Format "January 2, 2006" }}</time>,
                {{ .ReadingTime }} minute{{ if gt .ReadingTime 1 }}s{{ end }} to read
            </div>
            <div class="article-crosslinks__summary text">{{ .Summary }}</div>
        </article>
        {{ end }}
    </nav>
</div>
{{ end }}
