.article-crosslinks {
    background: $color__text-background--highlight;
    border-top: 1px solid $color__ui--light;
    margin-top: 4em;
    padding: 1.4em 0;

    &__heading {
        box-sizing: border-box;
        color: $color__heading;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 auto;
        max-width: $width__content;
        padding: 0 1em;
    }

    &__articles {
        display: grid;
        grid-gap: 1em;
        margin: 1em auto 0;
        max-width: $width__content;
    }

    &__article {
        background: #fff;
        padding: 1em 1em 0;
    }

    &__title {
        font-family: $font-family__header;
        line-height: 1.4;
        font-size: 1.2em;
        text-transform: uppercase;

        a {
            border-bottom: 2px solid transparent;
            color: $color__heading;
            text-decoration: none;

            &:hover {
                border-bottom-color: $color__link-underline;
            }
        }
    }

    &__meta {
        color: #135e13;
        margin-top: .8em;
        font-size: .9em;
    }

    &__summary {
        font-size: .9em;
    }
}
