.article {
    max-width: $width__text;
    margin: 0 auto 4em;
    width: 100%;

    &__header {
        line-height: 1.2;
        padding: 3.4em 1em 1em;
        text-align: center;
    }

    &__categories {
        margin: 0 auto;
    }

    &__category {
        $color__background: lighten(#135e13, 20%);
        background: linear-gradient(
                to bottom,
                $color__background 0%,
                $color__background 100%
        ) repeat-x 0 100%;
        background-size: 3px 100%;
        color: #fff;
        display: inline-block;
        padding: .2em .5em;
        text-decoration: none;
        transition: background-size .3s, color .3s;

        & + & {
            margin-left: .4em;
        }

        &:hover {
            background-size: 3px 3px;
            color: #000;
        }
    }

    &__title {
        color: $color__heading;
        font: 400 2.4em $font-family__header;
        margin: .4em 0 1em;
        text-transform: uppercase;
    }

    &__meta {
        color: $color__text--deprioritized;
    }

    &__content {
        margin: {
            left: 1em;
            right: 1em;
        }

        &:not(&--plain) > p:first-of-type {
            background: $color__text-background--highlight;
            border: {
                width: 1px 0;
                style: solid;
                color: $color__ui--light;
            }
            font-size: 1.2em;
            margin-bottom: 1.8em;
            padding: 1em;
        }

        @media(max-width: $breakpoint__screen--medium) {
            &:not(&--plain) > p:first-of-type, > figure {
                box-sizing: border-box;
                left: 50%;
                margin: {
                    left: -50vw;
                    right: -50vw;
                }
                position: relative;
                right: 50%;
                width: 100vw;
            }
        }

        figure {
            img {
                max-width: 100vw;
            }
        }
    }

    &__footer {
        margin: 3em 1em 0;
    }

    &__topics {
        margin-top: 2em;
    }

    &__author {
        border-top: 2px solid #135e13;
        color: $color__heading;
        padding: 1em 0 0;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
    }

    &__other {
        margin-top: 2em;
    }
}
