@import "variables";

.feature {
    background: $color__text-background--highlight;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1.4em 0;

    &__heading {
        box-sizing: border-box;
        font-size: inherit;
        line-height: 1.4;
        padding: 0 1em;
        margin: 1em 0 0;
        max-width: $width__content;
        width: 100%;

        &-title {
            color: $color__heading;
            font-size: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-description {
            font-weight: 400;

            &:after {
                content: ":";
            }
        }
    }

    &__articles {
        display: grid;
        grid-gap: 1em;
        margin-top: 1em;
        max-width: $width__content;
        width: 100%;

        @media (min-width: $breakpoint__screen--small) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__article {
        background: #fff;
        padding: 1em 1em 0;
        outline: 1px solid $color__ui--light;
    }

    &__categories {
        margin-bottom: .6em;
    }

    &__category {
        $color__background: lighten(#135e13, 20%);
        background: linear-gradient(
                to bottom,
                $color__background 0%,
                $color__background 100%
        ) repeat-x 0 100%;
        background-size: 3px 100%;
        color: #fff;
        display: inline-block;
        font-size: .9em;
        padding: .3em .6em;
        text-decoration: none;
        transition: background-size .3s, color .3s;

        & + & {
            margin-left: .4em;
        }

        &:hover {
            background-size: 3px 3px;
            color: #000;
        }
    }

    &__title {
        font-family: $font-family__header;
        line-height: 1.4;
        font-size: 1.6em;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;

        a {
            border-bottom: 2px solid transparent;
            color: $color__heading;
            text-decoration: none;

            &:hover {
                border-bottom-color: $color__link-underline;
            }
        }
    }

    &__meta {
        color: #135e13;
        margin-top: .8em;
    }
}
