@use "variables";

.list {
    background: variables.$color__text-background--highlight;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1.4em 0;

    &__heading {
        box-sizing: border-box;
        font-size: inherit;
        line-height: 1.4;
        padding: 0 1em;
        margin: 1em 0 0;
        max-width: variables.$width__content;
        width: 100%;

        &-title {
            color: variables.$color__heading;
            font-size: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
        }

        &-description {
            font-weight: 400;

            &:after {
                content: ":";
            }
        }
    }

    &__articles {
        display: grid;
        grid-gap: 1em;
        margin-top: 1em;
        max-width: variables.$width__content;
        width: 100%;

        @media (min-width: variables.$breakpoint__screen--small) {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr
        }
    }

    &__article {
        background: #fff;
        padding: 1em 1em 0;
        outline: 1px solid variables.$color__ui--light;
    }

    &__title {
        font-family: variables.$font-family__header;
        line-height: 1.4;
        font-size: 1.6em;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;

        a {
            border-bottom: 2px solid transparent;
            color: variables.$color__heading;
            text-decoration: none;
            transition: border-bottom-color variables.$time__transition-link-hover;

            &:hover {
                border-bottom-color: variables.$color__link-underline;
            }
        }
    }

    &__meta {
        color: #135e13;
        margin-top: .8em;
    }

    &__pager {
        box-sizing: border-box;
        margin: 2em 0 2em;
        max-width: variables.$width__content;
        padding: 0 1em;
        width: 100%;
    }
}
