@import "variables";

.page {
    background: white;
    display: flex;
    flex-flow: column;
    min-height: 100vh;

    &__main {
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;
        margin-top: $size__header-height;

        > * {
            flex: 1 1 auto;
        }
    }
}
