@import "variables";

.page-header {
    align-items: center;
    background: $color__header-background;
    box-shadow: 0 0 .6em #ccc;
    box-sizing: border-box;
    display: flex;
    height: $size__header-height;
    justify-content: center;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 100;

    &__content {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr auto;
        max-width: $width__content;
        padding: 0 1em;
        width: 100%;

        &-section {
            display: flex;
            align-items: center;
        }
    }

    &__title {
        color: #fff;
        font: {
            size: 1.4em;
            weight: 400;
        }
        margin: 0;
        white-space: nowrap;

        a {
            background: #135e13;
            color: inherit;
            padding: .2em .4em;
            text-decoration: none;
        }
    }

    &__subtitle {
        font-size: 1.2em;
        margin-left: .6em;

        @media(max-width: $breakpoint__screen--small - 1) {
            display: none;
        }
    }

    &__menu {
        &-link {
            border-bottom: 2px solid transparent;
            color: $color__heading;
            font-size: 1.2em;
            text-decoration: none;
            transition: border-bottom-color $time__transition-link-hover;

            &:hover {
                border-bottom-color: $color__link-underline;
            }
        }
    }
}
