@import "variables";

.page-header {
    align-items: center;
    background: $color__header-background;
    box-shadow: 0 0 .6em #ccc;
    box-sizing: border-box;
    display: flex;
    height: $size__header-height;
    justify-content: center;
    padding: 0 1em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;

    &__content {
        align-items: center;
        display: flex;
        max-width: $width__content;
        width: 100%;
    }

    &__title {
        color: #fff;
        font: {
            size: 1.4em;
            weight: 400;
        }
        margin: 0;
        white-space: nowrap;

        a {
            background: #135e13;
            color: inherit;
            padding: .2em .4em;
            text-decoration: none;
        }
    }

    &__subtitle {
        font-size: 1.2em;
        margin-left: .6em;

        @media(max-width: $breakpoint__screen--small - 1) {
            display: none;
        }
    }
}
