@import "variables";

.page-footer {
    align-items: center;
    background: $color__footer-background;
    color: $color__footer-foreground;
    display: flex;
    flex-direction: column;
    padding: 2em 1em 3em;

    &__contact {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: $width__content;

        &-photo {
            flex: 0 0 auto;
            max-width: 100px;
            border-radius: 50%;
            border: 4px solid #fff;
        }

        &-content {
            flex: 1 1 auto;
            margin-left: 1em;
        }

        &-heading {
            font-weight: 700;
            font-family: $font-family__header;
            text-transform: uppercase;

            &:nth-of-type(n + 2) {
                margin-top: 1em;
            }
        }

        &-links {
            margin-top: .4em;
        }

        &-link {
            background: #fff;
            color: #000;
            display: inline-block;
            margin-right: .4em;
            padding: .3em .4em .2em;
            text-decoration: none;
        }
    }


    &__copyright {
        font-size: .9em;
        line-height: 1.3;
        margin: 2em 0 0;
        max-width: $width__content;
        width: 100%;

        a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid $color__footer-foreground;
        }
    }
}
