@use "variables";

.page {
    background: white;
    display: flex;
    flex-flow: column;
    min-height: 100vh;

    &__header, &__footer {
        flex: none;
    }

    &__main {
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;

        > * {
            flex: 1 1 auto;
        }
    }
}
