.topics {
    &__heading {
        color: $color__heading;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__list {
        list-style: none;
        margin: .4em 0 0;
        padding: 0;
    }

    &__topic {
        background: lighten(#135e13, 20%);
        display: inline-block;
        margin: 0 .4em .4em 0;
        padding: .2em .5em;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
