
$color__header-background: #135e13;
$color__header-foreground: #fff;
$color__footer-background: #135e13;
$color__footer-foreground: #fff;
$color__text: #585858;
$color__text--deprioritized: #666;
$color__text-background--highlight: #fafafa;
$color__heading: #000;
$color__link: $color__text;
$color__link--hover: #135e13;
$color__link-underline: darken($color__text-background--highlight, 20%);
$color__ui--light: darken($color__text-background--highlight, 10%);
$color__code-background: darken($color__text-background--highlight, 5%);

$size__header-height: 3em;

$font-family__body: "Noto+Sans", Helvetica, Arial, sans-serif;
$font-family__header: "Lato", Helvetica, Arial, sans-serif;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&subset=latin-ext');
