
$color__header-background: #fff;
$color__footer-background: #135e13;
$color__footer-foreground: #fff;
$color__text: #434343;
$color__text--deprioritized: #666;
$color__text-background--highlight: #fafafa;
$color__heading: #000;
$color__link: $color__text;
$color__link--hover: #135e13;
$color__link-underline: darken($color__text-background--highlight, 20%);
$color__ui--light: darken($color__text-background--highlight, 10%);
$color__code-background: darken($color__text-background--highlight, 5%);

$size__header-height: 4em;

$font-family__body: "Noto+Sans", Helvetica, Arial, sans-serif;
$font-family__header: "Lato", Helvetica, Arial, sans-serif;

$width__content: 1000px;
$width__text: 700px;

$breakpoint__screen--small: 660px;
$breakpoint__screen--medium: 800px;

$time__transition-link-hover: .3s;
