@import "variables";
@import "normalize";

body {
    font: 400 16px $font-family__body;
    color: $color__text;
    padding-top: $size__header-height;
}

.page-header {
    align-items: center;
    background: $color__header-background;
    box-shadow: 0 0 .6em #ccc;
    box-sizing: border-box;
    display: flex;
    height: $size__header-height;
    justify-content: center;
    padding: 0 1em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;

    &__title {
        color: #fff;
        font: {
            size: 1.4em;
            weight: 400;
        }
        margin: 0;
        max-width: $width__content;
        width: 100%;

        a {
            background: #135e13;
            color: inherit;
            padding: .2em .4em;
            text-decoration: none;
        }
    }
}

.page-footer {
    background: $color__footer-background;
    color: $color__footer-foreground;
    display: flex;
    font-size: .8em;
    justify-content: center;
    padding: 2em 1em 3em;

    &__copyright {
        line-height: 1.21;
        margin: 0;
        max-width: $width__content;
        width: 100%;

        a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid $color__footer-foreground;
        }
    }
}

.article {
    max-width: $width__text;
    margin: 0 auto;
    width: 100%;

    &__header {
        line-height: 1.2;
        padding: 3.4em 1em 1em;
        text-align: center;
    }

    &__categories {
        margin: 0 auto;
    }

    &__category {
        background: lighten(#135e13, 20%);
        color: #fff;
        display: inline-block;
        padding: .2em .5em;

        & + & {
            margin-left: .4em;
        }
    }

    &__title {
        color: $color__heading;
        font: 400 2.4em $font-family__header;
        margin: .4em 0 1em;
        text-transform: uppercase;
    }

    &__meta {
        color: $color__text--deprioritized;
    }

    &__content {
        margin: {
            left: 1em;
            right: 1em;
        }

        > p:first-of-type {
            background: $color__text-background--highlight;
            border: {
                color: $color__ui--light;
                style: solid;
                width: 1px 0 1px;
            }
            font-size: 1.2em;
            margin: {
                bottom: 1.8em;
            }
            padding: 1em;
        }

        > p:first-of-type, figure {
            box-sizing: border-box;
            left: 50%;
            margin: {
                left: -50vw;
                right: -50vw;
            }
            position: relative;
            right: 50%;
            width: 100vw;
        }

        figure {
            img {
                max-width: 100vw;
            }
        }
    }

    &__footer {
        margin: 3em 1em 0;
    }

    &__topics {
        margin-top: 2em;
    }

    &__author {
        border-top: 2px solid #135e13;
        color: $color__heading;
        padding: 1em 0 0;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
    }

    &__other {
        margin-top: 2em;
    }
}

.topics {
    &__heading {
        color: $color__heading;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__list {
        list-style: none;
        margin: .4em 0 0;
        padding: 0;
    }

    &__topic {
        background: lighten(#135e13, 20%);
        display: inline-block;
        margin: 0 .4em .4em 0;
        padding: .2em .5em;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.text {
    h2 {
        font-weight: 400;
        margin: 1.4em 0 .6em;
    }

    p, li {
        line-height: 1.421;
    }

    ul, ol {
        padding-left: 2em;
    }

    ul {
        list-style: none;
    }

    li {
        & + li {
            margin: .4em 0;
        }

        ul {
            margin: .4em 0;
        }
    }

    ul > li {
        &::before {
            background: #135e13;
            border-radius: 50%;
            content: "";
            display: block;
            height: .7em;
            margin: .2em 0 0 -1.4em;
            position: absolute;
            vertical-align: middle;
            width: .7em;
        }

        & > ul li {
            &::before {
                background: lighten(#135e13, 20%);
            }
        }
    }

    figure {
        text-align: center;
    }

    pre {
        background: $color__code-background;
        padding: .2em .4em;
        overflow-x: auto;
    }

    blockquote {
        border-left: 4px solid lighten(#135e13, 20%);
        padding: .4em 0 .4em 1em;
        margin: 1em 0 1em 1em;

        & > *:first-child {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    hr {
        border: 0;
        border-top: 2px solid lighten($color__link, 20%);
        margin: 2em auto;
        width: 4em;
    }

    .tweet {
        display: flex;
        justify-content: center;
    }

    .youtube-movie {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border:0;
        }
    }

    a {
        border-bottom: 1px solid $color__link-underline;
        color: $color__link;
        text-decoration: none;

        &:hover {
            border-width: 2px;
            color: $color__link--hover;
        }
    }

    code {
        background: $color__code-background;
        border-radius: .2em;
        padding: .1em .2em;
    }

    pre > code {
        padding: 0;
    }
}

.article-crosslinks {
    background: $color__text-background--highlight;
    border-top: 1px solid $color__ui--light;
    margin-top: 4em;
    padding: 1.4em 0;

    &__heading {
        box-sizing: border-box;
        color: $color__heading;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 auto;
        max-width: $width__content;
        padding: 0 1em;
    }

    &__articles {
        display: grid;
        grid-gap: 1em;
        margin: 1em auto 0;
        max-width: $width__content;
    }

    &__article {
        background: #fff;
        padding: 1em 1em 0;
    }

    &__title {
        font-family: $font-family__header;
        line-height: 1.4;
        font-size: 1.2em;
        text-transform: uppercase;

        a {
            border-bottom: 2px solid transparent;
            color: $color__heading;
            text-decoration: none;

            &:hover {
                border-bottom-color: $color__link-underline;
            }
        }
    }

    &__meta {
        color: #135e13;
        margin-top: .8em;
        font-size: .9em;
    }

    &__summary {
        font-size: .9em;
    }
}
