@import "variables";
@import "normalize";

body {
    font: 400 16px $font-family__body;
    color: $color__text;
    padding-top: $size__header-height;
}

.page-header {
    background: $color__header-background;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 1em;
    position: fixed;
    top: 0;
    width: 100vw;
    height: $size__header-height;
    box-shadow: 0 0 .6em #666;
    z-index: 100;

    &__title {
        font: {
            size: 1.8em;
            weight: 400;
        }
        margin: 0;

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.page-footer {
    background: $color__header-background;
    color: #fff;
    padding: 2em 1em 3em;

    &__copyright {
        margin: 0;
        line-height: 1.21;

        a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid #fff;
        }
    }
}

.article {
    max-width: 700px;
    margin: 0 auto 8em;

    &__header {
        line-height: 1.2;
        padding: 3.4em 1em 1em;
        text-align: center;
    }

    &__category {
        background: lighten($color__header-background, 20%);
        color: #fff;
        display: inline-block;
        padding: .2em .5em;
        margin: 0 auto;
    }

    &__title {
        color: #000;
        font: 400 2.4em $font-family__header;
        margin: .2em 0 1em;
        text-transform: uppercase;
    }

    &__meta {
        color: $color__text--deprioritized;
    }

    &__content {
        margin: {
            left: 1em;
            right: 1em;
        }
        position: relative;

        > p:first-of-type {
            background: $color__text-background--highlight;
            border: {
                color: $color__ui--light;
                style: solid;
                width: 1px 0 1px;
            }
            box-sizing: border-box;
            font-size: 1.2em;
            margin: {
                bottom: 1em;
            }
            padding: 1em;
        }

        > p:first-of-type, img {
            left: 50%;
            right: 50%;
            margin: {
                left: -50vw;
                right: -50vw;
            }
            position: relative;
            width: 100vw;
        }
    }

    &__footer {
        border-top: 2px solid #135e13;
        margin: 3em 1em 0;
        padding-top: 1.4em;
    }

    &__author {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.text {
    h2 {
        font-weight: 400;
        margin: 1.4em 0 .6em;
    }

    p, li {
        line-height: 1.421;
    }

    ul, ol {
        padding-left: 2em;
    }

    ul {
        list-style: none;
    }

    li {
        & + li {
            margin: .4em 0;
        }

        ul {
            margin: .4em 0;
        }
    }

    ul > li {
        &::before {
            background: $color__header-background;
            display: inline-block;
            width: .7em;
            height: .7em;
            border-radius: 50%;
            content: "";
            margin-right: .7em;
            vertical-align: middle;
            margin-left: -1.4em;
        }

        & > ul li {
            &::before {
                background: lighten($color__header-background, 20%);
            }
        }
    }

    pre {
        background: $color__code-background;
        padding: .2em .4em;
        overflow-x: auto;
    }

    blockquote {
        border-left: 4px solid lighten($color__header-background, 20%);
        padding: .4em 0 .4em 1em;
        margin: 1em 0 1em 1em;

        & > *:first-child {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    img {
        max-width: 100vw;
    }

    a {
        border-bottom: 1px solid $color__link-underline;
        color: $color__link;
        text-decoration: none;

        &:hover {
            border-width: 4px;
        }
    }

    code {
        background: $color__code-background;
        border-radius: .2em;
        padding: .1em .2em;
    }

    pre > code {
        padding: 0;
    }
}
