@import "variables";
@import "normalize";

body {
    font: 400 16px $font-family__body;
    box-sizing: border-box;
    color: $color__text;
    padding-top: $size__header-height;
}

@import "page";
@import "page-header";
@import "page-footer";
@import "feature";
@import "article";
@import "topics";
@import "text";
@import "article-crosslinks";
